---
import webInfo from '../data/web-info.json';
const currentYear = new Date().getFullYear();
---

<footer class='text-center text-white bg-gray-950 py-10 px-6'>
  <nav class='flex justify-center gap-4 pb-10'>
    {
      webInfo.navLinks.map((link) => (
        <a
          href={link.url}
          class='text-white py-1 hover:text-purple-600 hover:underline hover:underline-offset-8'
        >
          {link.label}
        </a>
      ))
    }
  </nav>
  <p class='font-light text-sm'>
    &copy; {currentYear}
    {webInfo.name}. All rights reserved.
  </p>
</footer>
